.container {
    position: relative;
    width: 50%;
    height: 100%;
}

.image {
    display: block;
    width: 170%;
    height: 40%;
    align-items: center;
    align-content: center;
}

.image1 {
    display: block;
    width: 460%;
    height: 100%;
    align-items: center;
    align-content: center;
    margin-top: 55px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: orange; */
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 170%;
    height: 58px;
    transition: .5s ease;
    border-radius: 14px;
}

.container:hover .overlay {
    height: 100%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}