<!-- <h5>Vertical Alignment - Start</h5>
<div class="p-grid p-ai-start vertical-container">
  <div class="p-col">
    <div class="box">4</div>
  </div>
  <div class="p-col">
    <div class="box">4</div>
  </div>
  <div class="p-col">
    <div class="box">4</div>
  </div>
</div>

<h5>Vertical Alignment - End</h5>
<div class="p-grid p-ai-end vertical-container">
  <div class="p-col">
    <div class="box">4</div>
  </div>
  <div class="p-col">
    <div class="box">4</div>
  </div>
  <div class="p-col">
    <div class="box">4</div>
  </div>
</div> -->
<!-- <div class="p-grid nested-grid">
  <div class="p-col-8">
    <div class="p-grid">
      <div class="p-col-6">
        <div class="box">6</div>
      </div>
      <div class="p-col-6">
        <div class="box">6</div>
      </div>
      <div class="p-col-12">
        <div class="box">12</div>
      </div>
    </div>
  </div>
  <div class="p-col-4">
    <div class="box box-stretched">4</div>
  </div>
</div> -->

<div class="ui-g-12 ui-md-12">
  <div class="ui-g-12 ui-md-3">
    <div class="ui-g-12 ui-md-3">
      <!-- <div class="container"> -->
      <img src="./assets/img/wtweoffer.png" alt="Avatar" class="image1" />
      <!-- <div class="overlay">
        <div class="text">333333333333333</div>
      </div> -->
      <!-- </div> -->
    </div>
  </div>
  <div class="ui-g-12 ui-md-9">
    <div class="ui-g-6 ui-md-4">
      <div class="container">
        <img
          src="./assets/img/Precision Machining.jpg"
          alt="Avatar"
          class="image"
        />
        <div class="overlay">
          <div class="text"><h3>PRECISION MACHINING</h3></div>
        </div>
      </div>
    </div>
    <div class="ui-g-6 ui-md-4">
      <div class="container">
        <img src="./assets/img/sheetmetal.jpg" alt="Avatar" class="image" />
        <div class="overlay">
          <div class="text"><h3>SHEET METAL</h3></div>
        </div>
      </div>
    </div>
    <div class="ui-g-6 ui-md-4">
      <div class="container">
        <img
          src="./assets/img/Heat-Treating-Furnace.jpg"
          alt="Avatar"
          class="image"
        />
        <div class="overlay">
          <div class="text"><h3>HEAT TREATMENT</h3></div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g-12 ui-md-9">
    <div class="ui-g-6 ui-md-4">
      <div class="container">
        <img
          src="./assets/img/surfacetreatment.jpg"
          alt="Avatar"
          class="image"
        />
        <div class="overlay">
          <div class="text"><h3>SURFACE TREATMENT</h3></div>
        </div>
      </div>
    </div>
    <div class="ui-g-6 ui-md-4">
      <div class="container">
        <img src="./assets/img/assembly.jpg" alt="Avatar" class="image" />
        <div class="overlay">
          <div class="text"><h3>ASSEMBLY</h3></div>
        </div>
      </div>
    </div>
    <div class="ui-g-6 ui-md-4">
      <div class="container">
        <img src="./assets/img/quality.jpg" alt="Avatar" class="image" />
        <div class="overlay">
          <div class="text"><h3>QUALITY</h3></div>
        </div>
      </div>
    </div>
  </div>
</div>
