<div class="top clearfix" [class.active]="moveToggle">
  <div class="header text-center">
    <!-- <marquee
      width="100%"
      direction="left"
      height="90%"
      onmouseover="this.stop();"
      onmouseout="this.start();"
    >
      <ul>
        <li>
          <span>AAAAAAAAAAAAAAAAAAAAAAAAAA <span class="new">New</span></span>
        </li>
      </ul>
    </marquee> -->
    <marquee width="60%" direction="left" height="100px">
      COVID-19 UPDATE: RS India is committed to safely helping keep you up and
      running.
    </marquee>
  </div>

  <div class="content clearfix">
    <!-- <div class="ui-g ui-fluid"> -->
    <app-co></app-co>
    <div class="ui-g-12 ui-md-12">
      <app-callerinformation></app-callerinformation>
      <!-- <h5 class="h5-title">Followup Call Related Information</h5>
        <app-followupinformation></app-followupinformation> -->
    </div>
    <!-- <div class="ui-g-12 ui-md-6">
                <app-maps></app-maps>
            </div>
            <div class="ui-g-12 ui-md-12 p-l-n p-r-n">
                <app-patientsinformation></app-patientsinformation>
            </div>
            <div class="ui-g-12 ui-md-12 p-t-n p-b-n">
                <app-hospitaldetails></app-hospitaldetails>
            </div>
            <div class="ui-g-12 ui-md-12 p-none">
                <app-dispatchbuttons></app-dispatchbuttons>
            </div> -->
    <!-- </div> -->
  </div>
</div>
