<nav id="sidebar" class="sidebar" [class.active]="isopen">
  <div class="sidebar-content">
    <!-- <div class="sidebar-header">
            <h3 class="header">PR-FMS</h3>
        </div> -->
    <div class="sidebar-menu">
      <ul class="metismenu" id="metismenu">
        <li>
          <a [routerLink]="['ero']">
            <i class="material-icons">dashboard</i><span>About</span>
          </a>
        </li>
        <li>
          <a class="nav has-arrow" href="#">
            <i class="material-icons">visibility</i>
            <span>What we offer</span>
          </a>
          <ul class="nav first-child">
            <li>
              <a href="">
                <i class="material-icons"> panorama_fish_eye </i>
                <span>Vehicle List</span>
              </a>
            </li>
            <li>
              <a href="">
                <i class="material-icons"> panorama_fish_eye </i>
                <span>Vehicle Assignments</span>
              </a>
            </li>
            <li>
              <a href="">
                <i class="material-icons"> panorama_fish_eye </i>
                <span>Watched Vehicles</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a class="nav has-arrow" href="#">
            <i class="material-icons">near_me</i>
            <span>Services</span>
          </a>
          <ul class="nav first-child">
            <li>
              <a href="">
                <i class="material-icons"> panorama_fish_eye </i>
                <span>Precision Machining</span>
              </a>
            </li>
            <li>
              <a href="">
                <i class="material-icons"> panorama_fish_eye </i>
                <span>Sheet Metal</span>
              </a>
            </li>
            <li>
              <a href="">
                <i class="material-icons"> panorama_fish_eye </i>
                <span>Heat Treatment</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a class="nav has-arrow" href="#">
            <i class="material-icons">thumb_up_alt</i>
            <span>Pricing</span>
          </a>
          <ul class="nav first-child">
            <li>
              <a href="">
                <i class="material-icons"> panorama_fish_eye </i>
                <span>Service Remainders</span>
              </a>
            </li>
            <li>
              <a href="">
                <i class="material-icons"> panorama_fish_eye </i>
                <span>Statutory Remainders</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a class="nav has-arrow" href="#">
            <i class="material-icons">timeline</i>
            <span>Contact</span>
          </a>
          <ul class="nav first-child">
            <li>
              <a href="">
                <i class="material-icons"> panorama_fish_eye </i>
                <span>Service Remainders</span>
              </a>
            </li>
            <li>
              <a href="">
                <i class="material-icons"> panorama_fish_eye </i>
                <span>Statutory Remainders</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a class="nav has-arrow" href="#">
            <i class="material-icons">phone_iphone</i>
            <span>Communication Directory</span>
          </a>
          <ul class="nav first-child">
            <li>
              <a href="">
                <i class="material-icons">people</i>
                <span>Agents Creation</span>
              </a>
            </li>
            <li>
              <a href="">
                <i class="material-icons"> panorama_fish_eye </i>
                <span>Vehicle Assignments</span>
              </a>
            </li>
            <li>
              <a href="">
                <i class="material-icons"> panorama_fish_eye </i>
                <span>Watched Vehicles</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
