<p-tabView>

    <!-- Hospital Details -->
    <p-tabPanel header="Hospitals">
        <p-table [responsive]="true" [resizableColumns]="true" #dt [columns]="cols" [value]="hospitalDetails"
            (sortFunction)="customSort($event)" [customSort]="true" [paginator]="true" [rows]="5" editMode="row">
            <!-- Search -->
            <ng-template pTemplate="caption">
                <div style="text-align: right">
                    <i class="material-icons search-icon">search</i>
                    <input type="text" pInputText size="50" placeholder="Search Here"
                        (input)="dt.filterGlobal($event.target.value, 'contains')">
                </div>
            </ng-template>
            <!-- Table Header -->
            <ng-template pTemplate="header" let-columns>
                <tr>

                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>

                    <th pResizableColumn>Specialities</th>
                </tr>

            </ng-template>
            <!-- Table data -->
            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="rowData">

                    <td>
                        {{rowData.hospitalName}}
                    </td>
                    <td>
                        {{rowData.phone1}}
                        <img src="assets/img/call.png" alt="call" class="cursor callImg">
                    </td>
                    <td>
                        {{rowData.phone2}}
                        <img src="assets/img/call.png" alt="call" class="cursor callImg">
                    </td>
                    <td>
                        {{rowData.address}}
                    </td>
                    <td>
                        {{rowData.village}}

                    </td>
                    <td>
                        {{rowData.mandal}}

                    </td>
                    <td>
                        {{rowData.district}}
                    </td>
                    <td>
                        {{rowData.state}}
                    </td>

                    <td class="text-center">
                        <a class="cursor" (click)="specialities()">View</a>
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </p-tabPanel>
    <!-- Blood bank details -->
    <p-tabPanel header="Blood Banks">
        <app-bloodbanks></app-bloodbanks>
    </p-tabPanel>
    <!-- Police Station -->
    <p-tabPanel header="Police Stations">
        <app-policestations></app-policestations>
    </p-tabPanel>
</p-tabView>