<div class="ui-g ui-fluid text-right">
    <div class="ui-g-12">
        <!-- <button class="btn-1 btn-orange" (click)='eroRemarks()'>
            <i class="material-icons">
                transfer_within_a_station
            </i>
            Transfer to Supervisor
        </button> -->
        <button class="btn-1 btn-cyan" (click)='coRemarks()'>
            <i class="material-icons">
                done
            </i>
            Dispatch
        </button>
        <button class="btn-1 btn-danger" (click)='coRemarks()'>
            <i class="material-icons">
                clear
            </i>
            Terminate
        </button>
    </div>
</div>