<div class="modal-title">
    <h4>Hospital Specializations<span class="pull-right cursor">
            <button mat-dialog-close class="close-button">
                <mat-icon>close</mat-icon>
            </button>
        </span>
    </h4>
</div>

<div>
    <ul>
        <li><i class="material-icons">
                keyboard_arrow_right
            </i>Cardiology</li>
        <li><i class="material-icons">
                keyboard_arrow_right
            </i>Gynaecology</li>
        <li><i class="material-icons">
                keyboard_arrow_right
            </i>Urology</li>
        <li><i class="material-icons">
                keyboard_arrow_right
            </i>Oncology</li>
        <li><i class="material-icons">
                keyboard_arrow_right
            </i>Dermatology</li>
        <li><i class="material-icons">
                keyboard_arrow_right
            </i>ICU</li>
        <li><i class="material-icons">
                keyboard_arrow_right
            </i>Radiology</li>
    </ul>
</div>