<p-tabView>
  <p-tabPanel header="About">
    <!-- <div class="MagicSlideshow" data-options="kenburns: true;">
      <img src="./assets/img/AP_CM.jpg" />
      <img src="./assets/img/AP_CM.jpg" />
      <img src="./assets/img/AP_CM.jpg" />
      ...
    </div> -->
    <div class="pic-wrapper">
      <div class="ui-g-12 ui-md-12">
        <figure class="pic-1">
          <div class="slide">
            <h1>Swiss Quality made in India</h1>
            <h2>Your Partner for precision parts</h2>
          </div>
          <!-- <h1> -->
          <!-- <div class="typewriter">
            <h2>The cat and the hat.</h2>
          </div> -->
          <!-- </h1> -->
        </figure>
        <figure class="pic-2">
          <div class="slide">
            <h1>
              High Precision Parts mechanical parts in small to<br />
              midsize dimensions and quantities.
            </h1>
          </div>
        </figure>
        <figure class="pic-3">
          <div class="slide">
            <h1>
              Use best of the technology, equipment<br />
              and man-power
            </h1>
          </div>
        </figure>
        <figure class="pic-4">
          <div class="slide">
            <h1>
              Wide range of services under one roof assuring <br />Swiss quality
              & precision
            </h1>
          </div>
        </figure>
      </div>
    </div>

    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 ui-md-4">
        <div class="services1">
          <img src="./assets/img/12.png" />
        </div>
      </div>
      <div class="services">
        <!-- <img src="./assets/img/services.png" /> -->

        <h2>Complete solutions</h2>

        RS INDIA offers complete solutions right from development to
        manufacturing of new products from an idea to finished solution, all
        under one roof. The Company offers Swiss precision across all processes
        and phases assuring the final product will be manufactured with Swiss
        quality.
        <br />
        <br />
        <h2>Certificates</h2>
        <!-- <br /> -->

        We are an ISO 9001:2015 certified company established in 2018. We are
        engaged in manufacturing of High Precision machined parts, specialised
        job works and customized services in the manufacturing of components for
        industries. With an installed capacity of 5600 MT per annum, our
        manufacturing facility is amongst the best in the industry. We also
        comply according to 13485 (Medical Services) certification along with
        ISO 14001 (Environmental Aspects) and OHSAS 18001 (Health and Safety)
        certifications.
        <br />
        <br />
        <h2>Quality assurance RS</h2>
        <!-- <br /> -->

        INDIA offers continuous process management, in combination with a
        conscientious end control, enabling it to guarantee the best possible
        quality for every order.
        <br />
        <br />
        <h2>The best of both worlds</h2>
        <!-- <br /> -->

        RS INDIA has a state-of-the-art Swiss Precision Assembly unit in Jaipur.
        The facility boasts of trained Indian professionals working on high end
        machines, equipment’s and tools under the able guidance of Swiss
        professionals.
      </div>
    </div>
    <div class="ui-g-4 ui-md-12">
      <div class="Carousel">
        <app-assessment></app-assessment>
      </div>
    </div>
  </p-tabPanel>
  <!-- <p-tabPanel header="Services"> </p-tabPanel> -->

  <p-tabPanel header="What we offer">
    <app-nearestongoingincidents></app-nearestongoingincidents>
  </p-tabPanel>
  <p-tabPanel header="Pricing"> </p-tabPanel>
  <p-tabPanel header="Contact">
    <app-bloodbanks></app-bloodbanks>
  </p-tabPanel>
</p-tabView>
