<i class="material-icons pull-right cursor" mat-dialog-close>close</i>
<div class="pull-left">
    <img src="assets/img/user.jpg" alt="user">
</div>
<div class="user-body">
    <h3 class="m-t-n m-b-n"><small>John Allan Walker</small></h3>
    <h4 class="m-t-n"><small>ERO</small></h4>
</div>
<hr>
<table>
    <tbody>
        <tr>
            <td>Login Duration</td>
            <td>02:02:02</td>
        </tr>
        <tr>
            <td>AHT</td>
            <td>00:03:02</td>
        </tr>
        <tr>
            <td>Total Break Duration</td>
            <td>00:03:02</td>
        </tr>
        <tr>
            <td>Number Of Breaks</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Total Calls</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Served Calls</td>
            <td>35</td>
        </tr>
        <tr>
            <td>Closed Calls</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Terminated Calls</td>
            <td>5</td>
        </tr>
        <tr>
            <td>AHT</td>
            <td>00:03:02</td>
        </tr>
    </tbody>
</table>